<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <title> Dashboard</title>

    <link rel="shortcut icon" href="{{ url_for('static', filename='assets/img/favicon.png') }}">

    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;0,700;1,400&display=swap') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='assets/plugins/bootstrap/css/bootstrap.min.css') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='assets/plugins/fontawesome/css/fontawesome.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/plugins/fontawesome/css/all.min.css') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/style.css') }}">
</head>

<body>

    <div class="main-wrapper">
        <div class="header">

            <div class="header-left">
                <a href="index.html" class="logo">
                    <h4>Admin</h4>
                </a>
                <a href="index.html" class="logo logo-small">
                    <h4>Admin</h4>
                </a>
            </div>

            <a href="javascript:void(0);" id="toggle_btn">
                <i class="fas fa-align-left"></i>
            </a>



            <a class="mobile_btn" id="mobile_btn">
                <i class="fas fa-bars"></i>
            </a>


            <ul class="nav user-menu">




              

            </ul>

        </div>


        <div class="sidebar" id="sidebar">
            <div class="sidebar-inner slimscroll">
                <div id="sidebar-menu" class="sidebar-menu">
                    <ul>
                        <li class="menu-title">
                            <span>Main Menu</span>
                        </li>
                        <li class=" active">
                            <a href="/adminDashboard"><i class="fas fa-clipboard"></i> <span> Dashboard</span>
                        </li>
                        <li class=" ">
                            <a href="/submittedUserFroms"><i class="fas fa-clipboard"></i> <span>User submitted Forms</span>
                        </li>

                        <li class="submenu">
                            <a href="#"><i class="fas fa-chalkboard-teacher"></i> <span> Admin</span> <span
                                    class="menu-arrow"></span></a>
                            <ul>
                                <li><a href="/viewAdmins">Admin List</a></li>

                                <li><a href="/addAdmin">Admin Add</a></li>

                            </ul>
                        </li>
                        <li class="submenu">
                            <a href="#"><i class="fas fa-building"></i> <span> Managers</span> <span
                                    class="menu-arrow"></span></a>
                            <ul>
                                <li><a href="/viewManagers">Managers List</a></li>
                                <li><a href="/addManager">Manager Add</a></li>

                            </ul>
                        </li>
                        <li class="submenu">
                            <a href="#"><i class="fas fa-book-reader"></i> <span> Sellers</span> <span
                                    class="menu-arrow"></span></a>
                            <ul>
                                <li><a href="/viewSellers">Sellers List</a></li>
                                <li><a href="/addSeller">Seller Add</a></li>

                            </ul>
                        </li>
                        <li class="submenu">
                            <a href="#"><i class="fas fa-clipboard"></i> <span> Brands</span> <span
                                    class="menu-arrow"></span></a>
                            <ul>
                                <li><a href="/viewBrands">Brands List</a></li>
                                <li><a href="/addBrand">Brand Add</a></li>

                            </ul>
                        </li>

                        <li class="submenu">
                            <a href="#"><i class="fas fa-file-invoice-dollar"></i> <span> Products</span> <span
                                    class="menu-arrow"></span></a>
                            <ul>
                                <li><a href="/viewProducts">Products list</a></li>
                                <li><a href="/addProduct">Product Add</a></li>

                            </ul>
                        </li>
                        <li class="submenu">
                            <a href="#"><i class="fas fa-clipboard"></i> <span> Campaigns</span> <span
                                    class="menu-arrow"></span></a>
                            <ul>
                                <li><a href="/viewCampaigns">Camaigns List</a></li>
                                <li><a href="/addCampaign">Campaign Add</a></li>
                                   

                            </ul>
                        </li>
                        <li>
                            <a href="/logout"><i class="fas fa-holly-berry"></i> <span>Logout</span></a>
                        </li>


                    </ul>
                </div>
            </div>
        </div>


        <div class="page-wrapper">
            <div class="content container-fluid">

                <div class="page-header">
                    <div class="row">
                        <div class="col-sm-12">
                            <h3 class="page-title">Welcome Admin!</h3>
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item active">Brands list</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card card-table">
                            <div class="card-body">
                                <div class="table-responsive">
                                    <div id="DataTables_Table_0_wrapper"
                                        class="dataTables_wrapper dt-bootstrap4 no-footer">
                                        <div class="row">
                                            <div class="col-sm-12 col-md-6">
                                                <div class="dataTables_length" id="DataTables_Table_0_length">
                                                    <label>Show <select name="DataTables_Table_0_length"
                                                            aria-controls="DataTables_Table_0"
                                                            class="custom-select custom-select-sm form-control form-control-sm">
                                                            <option value="10">10</option>
                                                            <option value="25">25</option>
                                                            <option value="50">50</option>
                                                            <option value="100">100</option>
                                                        </select> entries</label></div>
                                            </div>
                                            <div class="col-sm-12 col-md-6"></div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <table
                                                    class="table table-hover table-center mb-0 datatable dataTable no-footer"
                                                    id="DataTables_Table_0" role="grid"
                                                    aria-describedby="DataTables_Table_0_info">
                                                    <thead>
                                                        <tr role="row">
                                                            <th class="sorting_asc" tabindex="0"
                                                                aria-controls="DataTables_Table_0" rowspan="1"
                                                                colspan="1" aria-sort="ascending"
                                                                aria-label="ID: activate to sort column descending"
                                                                style="width: 50.5px;"> Brand ID</th>
                                                            <th class="sorting_asc" tabindex="0"
                                                                aria-controls="DataTables_Table_0" rowspan="1"
                                                                colspan="1" aria-sort="ascending"
                                                                aria-label="ID: activate to sort column descending"
                                                                style="width: 50.5px;"> Seller</th>
                                                            <th class="sorting_asc" tabindex="0"
                                                                aria-controls="DataTables_Table_0" rowspan="1"
                                                                colspan="1" aria-sort="ascending"
                                                                aria-label="ID: activate to sort column descending"
                                                                style="width: 50.5px;"> Brand Name</th>
                                                            <th class="sorting" tabindex="0"
                                                                aria-controls="DataTables_Table_0" rowspan="1"
                                                                colspan="1"
                                                                aria-label="Name: activate to sort column ascending"
                                                                style="width: 163.406px;">Platfrom Name</th>
                                                        
                                                            <th class="text-end sorting" tabindex="0"
                                                                aria-controls="DataTables_Table_0" rowspan="1"
                                                                colspan="1"
                                                                aria-label="Action: activate to sort column ascending"
                                                                style="width: 74.7031px;">Action</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {% for brand in brands %}
                                                        <tr role="row" class="odd">
                                                            <td class="sorting_1">{{ brand['id'] }}</td>
                                                            <td>{{ brand['seller'] }}</td>
                                                            <td>{{ brand['name'] }}</td>
                                                            <td>{{ brand['platform'] }}</td>
                                                         
                                                            <td class="text-end">
                                                                <div class="actions">
                                                                    <a href="#"
                                                                        class="btn btn-sm bg-success-light me-2">
                                                                        <i class="fas fa-pen"></i>
                                                                    </a>
                                                                    <a href="#" class="btn btn-sm bg-danger-light">
                                                                        <i class="fas fa-trash"></i>
                                                                    </a>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12 col-md-5">
                                                <div class="dataTables_info" id="DataTables_Table_0_info" role="status"
                                                    aria-live="polite">Showing 1 to 10 of 11 entries</div>
                                            </div>
                                            <div class="col-sm-12 col-md-7">
                                                <div class="dataTables_paginate paging_simple_numbers"
                                                    id="DataTables_Table_0_paginate">
                                                    <ul class="pagination">
                                                        <li class="paginate_button page-item previous disabled"
                                                            id="DataTables_Table_0_previous"><a href="#"
                                                                aria-controls="DataTables_Table_0" data-dt-idx="0"
                                                                tabindex="0" class="page-link">Previous</a></li>
                                                        <li class="paginate_button page-item active"><a href="#"
                                                                aria-controls="DataTables_Table_0" data-dt-idx="1"
                                                                tabindex="0" class="page-link">1</a></li>
                                                        <li class="paginate_button page-item "><a href="#"
                                                                aria-controls="DataTables_Table_0" data-dt-idx="2"
                                                                tabindex="0" class="page-link">2</a></li>
                                                        <li class="paginate_button page-item next"
                                                            id="DataTables_Table_0_next"><a href="#"
                                                                aria-controls="DataTables_Table_0" data-dt-idx="3"
                                                                tabindex="0" class="page-link">Next</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>


        </div>

    </div>


    <script src="{{ url_for('static', filename='assets/js/jquery-3.6.0.min.js') }}"></script>

    <script src="{{ url_for('static', filename='assets/plugins/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

    <script src="{{ url_for('static', filename='assets/plugins/slimscroll/jquery.slimscroll.min.js') }}"></script>

    <script src="{{ url_for('static', filename='assets/plugins/apexchart/apexcharts.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/plugins/apexchart/chart-data.js') }}"></script>

    <script src="{{ url_for('static', filename='assets/js/script.js') }}"></script>
</body>

</html>